body{
    background-color: #222222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.tile{
    color: white;
    background-color: #222222;
    width: 32px;
    height: 32px;
    text-align: center;
    justify-content: center;
    line-height: 32px;
    font-size: 28px;
}
.group{
    background-color: blue;
}
.board-container{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    gap:2px;
    padding:2px;
    width: min-content;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
}
#collected-words{
    max-height: 200px;
    overflow-y:scroll;
    background-color: #00000020;
    scrollbar-width: none;
    padding: 6px;
}
