body{
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: #111111;
    padding: 0px;
    margin: 0px;
}
header{
    padding:  20px;
    margin: 0px;
    background-color: #111111;
}
footer{
    background-color: #111111;
    margin: 0px;
    padding: 20px;
    padding-bottom: 100px;
}
.main-title{
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.page-container{
    background-color: #282828;
    min-height: calc(100vh - 80px);
    padding: 20px;
    margin: 0px;
}
.hline{
    height: 12px;
    width: 100%;
    border-color: #282828;
    background-color: #282828;
    box-shadow: 0 8px 8px 0px rgba(0,0,0,0.15);
}
.cards-container{
    width: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 12px;

    margin-bottom: 20px;
}
.card{
    padding: 0px;
    width: 360px;

    color:white;
    text-decoration: none;

    background-color: #ffffff11;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-image{
    width:360px;
}
.card-content{
    padding: 10px 24px;
}

.card-title{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    margin-top: 0px;
}
.article-content{
    max-width: 720px;
    margin: auto;
    padding: 0px;
}
.article-banner-image{
    width: 720px;
    margin: auto;
}