body{
    max-width:720px;
    margin: auto;

    font-family: Helvetica, Arial, sans-serif;

    color: white;
    background-color: #202020;
    background-color: black;
}
.top-bar{
    border-width: 1px;
    border-color: black;
    border: black;
    
    justify-content: center;
    align-content: center;
    
    display: grid;
}
.top-bar > h1{
    padding: 0px;
}
.top-bar-item{
    justify-content: center;
    align-content: left;
}

/* The below class styles are for custom html elements formatted from typst html export */
.eqn_block{
    scale: 1.5;
    max-width: min-content;
    margin: auto;
}
.eqn_inline{
    scale: 1.2;
}
.align-right{
    width: min-content;
    margin-right: 0px;
    margin-left: auto;
}
a{
    color:white;
}
.sidenote{
    float: right;
    margin-right: -280px;
    width: 280px;

    /*outline: 1px dotted darkgrey;*/
}
.canvas_holder{
    max-width: 720px;
    display:grid;
}

.input-sketch{
    width: min-content;
    height: min-content;
    /*border: 2px yellow solid;*/
}

/*Hypercube Sketch*/
.sketch-hypercube{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.sketch_tr { grid-area: 1 / 2 / 2 / 3; }
.sketch-br { grid-area: 2 / 2 / 3 / 3; }
.sketch-l { grid-area: 1 / 1 / 3 / 2; }
/*Hypercube Sketch*/
