body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.column{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.sketch{
    width: 720px;
    height: 420px;
    outline: 1px solid white;
}

.sidenote{
    float: right;
    margin-right: -280px;
    width: 280px;

    outline: 1px dotted darkgrey;
}